@use "global" as *;

//共通ボタン
.c-button {
  display: inline-block;
  text-align: center;
  font-size: rem(20);
  position: relative;
  transition: ease .3s;
  overflow: hidden;
  z-index: 1;
  @include mq('md') {
    font-size: rem(16);
  }
}

.c-button:hover {
  opacity: unset;
}

.c-button::before {
  display: block;
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
  z-index: -1;
}

.c-button:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

//背景が黒のボタン
.c-button--background-black {
  letter-spacing: 0.1em;
  border: 1px solid $white;
  background-color: $gray;
  color: $white;
  max-width: rem(335);
  width: 100%;
  padding: rem(10) 0;
  @include mq('md') {
    max-width: rem(360);
    padding: rem(15) 0;
  }
}

.c-button--background-black:hover {
  color: $gray;
}

.c-button--background-black::before {
  background-color: $white;
}

//背景が白のボタン
.c-button--background-white {
  letter-spacing: 0.1em;
  border: 1px solid $white;
  background-color: $gray;
  color: $white;
  max-width: rem(335);
  width: 100%;
  padding: rem(10) 0;
  @include mq('md') {
    font-weight: $medium;
    background-color: $white;
    color: #000;
    width: rem(134);
    padding: rem(3) 0;
  }
}

.c-button--background-white:hover {
  color: $gray;
  @include mq('md') {
    color: $white;
    border: 1px solid $gray;
  }
}

.c-button--background-white::before {
  background-color: $white;
  @include mq('md') {
    background-color: $gray;
  }
}