@use "global" as *;

.c-btn {
  display: inline-block;
  font-size: rem(20);
  letter-spacing: 0.1em;
  transition: ease .3s;
}

.c-btn--background-black {
  max-width: rem(335);
  width: 100%;
  background-color: $gray;
  height: 30px;
}