<footer class="l-footer p-footer">
  <div class="p-footer__inner">
    <div class="p-footer__main-contents">
      <div class="p-footer__logo">
        <%- include('../component/_c-logo') %>
      </div>
      <div class="p-footer__nav">
        <ul class="p-footer__nav-items">
          <li class="p-footer__nav-item"><a href="/" class="p-footer__nav-link"><span>トップ</span></a></li>
          <li class="p-footer__nav-item"><a href="#" class="p-footer__nav-link"><span>お知らせ</span></a></li>
          <li class="p-footer__nav-item"><a href="#" class="p-footer__nav-link"><span>事業内容</span></a></li>
          <li class="p-footer__nav-item"><a href="#" class="p-footer__nav-link"><span>制作実績</span></a></li>
          <li class="p-footer__nav-item"><a href="#" class="p-footer__nav-link"><span>企業概要</span></a></li>
          <li class="p-footer__nav-item"><a href="#" class="p-footer__nav-link"><span>ブログ</span></a></li>
          <li class="p-footer__nav-item"><a href="#" class="p-footer__nav-link"><span>お問い合わせ</span></a></li>
        </ul>
      </div>
    </div>
    <p class="footer__copyright">
      <small>&copy; 2022 CodeUps Inc.</small>
    </p>
  </div>
</footer>