<footer class="p-footer">
  <div class="p-footer__inner">
    <div class="p-footer__main-contents">
      <div class="p-footer__logo">
        <%- include('../component/_c-logo') %>
      </div>
      <div class="p-footer__nav">
        <ul class="p-footer__nav-items">
          <li class="p-footer__nav-item"><a href="/" class="p-footer__nav-link">トップ</a></li>
          <li class="p-footer__nav-item"><a href="#" class="p-footer__nav-link">お知らせ</a></li>
          <li class="p-footer__nav-item"><a href="#" class="p-footer__nav-link">事業内容</a></li>
          <li class="p-footer__nav-item"><a href="#" class="p-footer__nav-link">制作実績</a></li>
          <li class="p-footer__nav-item"><a href="#" class="p-footer__nav-link">企業概要</a></li>
          <li class="p-footer__nav-item"><a href="#" class="p-footer__nav-link">ブログ</a></li>
          <li class="p-footer__nav-item"><a href="#" class="p-footer__nav-link">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
    <p class="footer__copyright">
      <small>&copy; 2022 CodeUps Inc.</small>
    </p>
  </div>
</footer>