<div class="l-header p-header">
  <div class="p-header__inner">
    <a href="/" class="p-header__logo">
      <%- include('../component/_c-logo.ejs') %>
    </a>
    <%- include('../component/_c-hamburger.ejs') %>
    <%- include('../project/_p-sp-nav.ejs') %>
    <%- include('../project/_p-pc-nav.ejs') %>
  </div>
</div>