@use "global" as *;

.p-card {
  display: block;
  position: relative;
  cursor: pointer;
  background-color: $white;
  color: $gray;
  transition: background-color .3s;
}

.p-card:hover {
  background-color: $gray;
  color: $white;
  opacity: 1;
}

.p-card__new-label {
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.125em;
  color: $gray;
  width: rem(60);
  height: rem(60);
  background-color: #FFBA6A;
  border-radius: 50%;
}

.p-card__imgWrap {
  position: relative;
}

.p-card__imgWrap::before {
  content:"";
  display: block;
  padding-top: 66.5671%;
}

.p-card__imgWrap img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.p-card__body {
  padding: rem(4) rem(24) rem(16) rem(22);
  @include mq('md') {
    padding: rem(4) rem(23) rem(16);
  }
}

.p-card__title {
  font-size: rem(18);
  font-weight: $medium;
  line-height: 1.9444;
  letter-spacing: 0.0555em;
}

.p-card__textWrap {
  margin-top: rem(4);
  @include mq('md') {
    margin-top: rem(7);
  }
}

.p-card__text {
  font-size: rem(14);
  line-height: 1.8571;
  letter-spacing: 0.07142em;
}

.p-card__info {
  display: flex;
  margin-top: rem(5);
  @include mq('md') {
    margin-top: rem(10);
  }
}

.p-card__category {
  font-size: rem(14);
  line-height: 1;
  letter-spacing: 0.07142em;
  background-color: $yellow2;
  padding: rem(5);
  color: $black;
}

.p-card__date {
  font-size: rem(14);
  line-height: 1.8571;
  letter-spacing: 0.07142em;
  margin-left: auto;
  color: $gray;
}