@use "global" as *;

.p-card {
  display: block;
  cursor: pointer;
}

.p-card__imgWrap {
  position: relative;
  padding-top: 66.5671%;
  overflow: hidden;
}

.p-card__imgWrap img {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  object-fit: cover;
}

.p-card__body {
  background-color: $white;
  padding: rem(4) rem(24) rem(16) rem(22);
  @include mq('md') {
    padding: rem(4) rem(24) rem(16);
  }
}

.p-card__titleWrap {

}

.p-card__title {
  font-size: rem(18);
  font-weight: $medium;
  line-height: 1.9444;
  letter-spacing: 0.0555em;
  color: $gray;
}

.p-card__textWrap {
  margin-top: rem(4);
}

.p-card__text {
  font-size: rem(14);
  line-height: 1.8571;
  letter-spacing: 0.07142em;
  color: $gray;
}

.p-card__info {
  display: flex;
  margin-top: rem(3);
}

.p-card__category {
  font-size: rem(14);
  line-height: 1.8571;
  letter-spacing: 0.07142em;
  background-color: $yellow2;
  padding: rem(1) rem(3) rem(1) rem(5);
}

.p-card__date {
  font-size: rem(14);
  line-height: 1.8571;
  letter-spacing: 0.07142em;
  margin-left: auto;
}