@use "global" as *;

.p-header {
  height: rem(50);
  padding: 0 rem(22);
}

.p-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.p-header__logo {
  display: flex;
  align-items: center;
  height: inherit;
  width: rem(70);
}