@use 'global' as *;

.p-news-list {
  color: $white;
  width: 100%;
  @include mq('md') {
    display: flex;
    align-items: center;
    max-width: 860px;
  }
}

.p-news-list__meta {
  display: flex;
  align-items: center;
  @include mq('md') {
    max-width: rem(227);
  }
}

.p-news-list__date {

}

.p-news-list__category {
  font-size: rem(14);
  margin-left: rem(30);
  border: 1px solid #fff;
  padding: rem(4) rem(10);
  text-align: center;
  min-width: rem(100);
  @include mq('md') {
    margin-left: rem(46);
    font-weight: $medium;
  }
}

.p-news-list__title {
  margin-top: rem(15);
  font-size: rem(16);
  font-weight: $regular;
  @include mq('md') {
    margin-top: 0;
    margin-left: rem(58);
    width: 71.5%;
  }
}

.p-news-list__link {
  transition: all 0.3s ease 0s;
  display: block;
  height: inherit;
}

.p-news-list__link:hover {
  transition: all 0.3s ease 0s;
  opacity: 1;
}

.p-news-list__link--underline {
  position: relative;
}

.p-news-list__link--underline::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $white;
  left: 0;
  bottom: -2px;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.p-news-list__link--underline:hover.p-news-list__link--underline::after {
  opacity: 1;
}

.p-news-list__link--yellow:hover {
  color: #f9f871;
}

