@use "global" as *;

.p-overview__row {
  display: flex;
  padding: rem(18) 0 rem(18) rem(5);
  border-bottom: 1px solid $white;
  @include mq('md') {
  padding: rem(30) 0 rem(27);
  }
}

.p-overview__term {
  font-size: rem(13);
  line-height: calc( 21/13);
  width: rem(114);
  @include mq('md') {
    font-size: rem(16);
    line-height: calc( 21/16);
    width: rem(152);
  }
}

.p-overview__discription {
  font-size: rem(13);
  line-height: calc( 24/13);
  width: calc( 100% - #{rem(114)});
  @include mq('md') {
    font-size: rem(16);
    line-height: calc( 24/16);
    letter-spacing: 0.0625em;
    width: calc( 100% - #{rem(152)});
  }
}

.p-overview__map {
  position: relative;
  margin: rem(120) calc(50% - 50vw) 0;
  width: 100vw;
  @include mq('md') {
    margin: rem(80) auto 0;
    width: 100%;
  }
}

.p-overview__map::before {
  content:"";
  display: block;
  padding-top: 80%;
  @include mq('md') {
    padding-top: 33.3636%;
  }
}

.p-overview__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}