@use "global" as *;

.p-pc-nav {
  height: inherit;
}

.p-pc-nav__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: inherit;
}

.p-pc-nav__item {
  height: inherit;
}

.p-pc-nav__item a {
  display: flex;
  align-items: center;
  position: relative;
  font-size: rem(16);
  line-height: 2.1875;
  letter-spacing: 0.125em;
  color: $white;
  padding: 0 rem(15);
  height: inherit;
  transition: ease .3s;
}

.p-pc-nav__item--bg-white {
  margin-left: rem(15);
}

.p-pc-nav__item--bg-white a {
  position: relative;
  transition: ease .3s;
  overflow: hidden;
  z-index: 10;
  background-color: $white;
  padding: 0 rem(31);
  color: $gray;
}

.p-pc-nav__item--bg-white a:hover {
  color: $white;
}

.p-pc-nav__item a::after {
  position: absolute;
  bottom: 10px;
  left: 15%;
  content: "";
  width: 70%;
  height: 1px;
  background: $yellow;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.p-pc-nav__item a:hover {
  opacity: 1;
}

.p-pc-nav__item a:hover::after {
  transform: scale(1, 1);
}

.p-pc-nav__item--bg-white a::after {
  content: unset;
}

.p-pc-nav__item--bg-white a::before {
  display: block;
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
  background-color: $gray;
  z-index: -1;
}

.p-pc-nav__item--bg-white a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}