@use 'global' as *;
.p-relation {

}

.p-relation__heading {

}

.p-relation__title {
  letter-spacing: rem(2);
  border: 1px solid $white;
  text-align: center;
  width: 100%;
  padding: rem(10) 0;
  @include mq('md') {
    background-color: $gray;
  }
}

.p-relation__cards {
  margin-top: rem(32);
}

.p-relation__cards .p-cards--relation .p-card {
  margin-left: auto;
  margin-right: auto;
  @include mq('md') {
    margin: 0;
    width: 22.8181%;
  }
}
.p-relation__cards .p-cards--relation .p-card .p-card__body {
  @include mq('md') {
    padding: rem(4) rem(8) rem(16);
  }
}

.p-relation__cards .p-cards--relation .p-card .p-card__title {
  @include mq('md') {
    font-size: rem(14);
  }
}

.p-relation__cards .p-cards--relation .p-card .p-card__textWrap {
  @include mq('md') {
    display: none;
  }
}

.p-relation__cards .p-cards--relation .p-card:not(:first-child) {
  margin-top: rem(24);
  @include mq('md') {
    margin-top: 0;
    margin-left: 2.9%;
  }
}