@use "global" as *;

.p-sp-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 100vh;
}

.p-sp-nav__items {
  padding-top: rem(143);
  height: 100%;
  overflow-y: scroll;
}

.p-sp-nav__item a {
  display: block;
  text-align: center;
  font-size: rem(16);
  letter-spacing: 0.125em;
  color: $white;
  padding: rem(16) 0;
}