@use "global" as *;

.p-top-content {
  position: relative;
}

.p-top-content::before {
  content:"";
  position: absolute;
  top: rem(-30);
  left: 0;
  width: 100%;
  height: rem(680);
  z-index: -1;
  background-image: linear-gradient(to right top, transparent 49.9%, $yellow 50%, $yellow calc(50% + 1px), transparent calc(50.1% + 1px));
  @include mq('md') {
    top: rem(-102);
    height: rem(1280);
  }
}

.p-top-content__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(48);
  @include mq('md') {
    margin-top: rem(43);
  }
}

.p-top-content__item {
  display: block;
  width: 50%;
  position: relative;
  @include mq('md') {
    width: 25%;
  }
}

.p-top-content__item:hover {
  opacity: unset;
}

.p-top-content__item::before {
  display: block;
  content:"";
  padding-top: 89.362%;
  @include mq('md') {
    padding-top: 99.6885%;
  }
}

.p-top-content__text {
  font-size: rem(20);
  letter-spacing: 0.1em;
  color: $white;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 1;
  text-align: center;
  @include mq('md') {
    font-size: rem(25);
    letter-spacing: 0.02em;
  }
}

.p-top-content__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-top-content__item::after {
  @include mq('md') {
    content:"";
    background-color: rgba( 255, 255, 255, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: ease .3s;
  }
}

.p-top-content__item:hover::after {
  @include mq('md') {
    background-color: rgba( 255, 255, 255, .6);
  }
}