@use 'global' as *;

.p-thanks {

}

.p-thanks__inner {

}

.p-thanks__title {
  font-size: rem(20);
  color: $white;
  letter-spacing: rem(2);
  text-align: center;
  font-weight: $regular;
  @include mq('md') {
    font-size: rem(30);
  }
}

.p-thanks__lead {
  letter-spacing: rem(2);
  margin-top: rem(80);
  font-size: rem(20);
  text-align: center;
  @include mq('md') {
    font-size: rem(30);
  }
}

.p-thanks__button {
  margin-top: rem(80);
  text-align: center;
  @include mq('md') {

  }
}

