@use 'global' as *;

.p-top-news {

}

.p-top-news__inner {

}

.p-top-news__contents {
  @include mq('md') {
    display: flex;
  }
}

.p-top-news__list {

}

.p-top-news__button {
  text-align: center;
  margin-top: rem(26);
  @include mq('md') {
    margin-top: 0;
    margin-left: auto;
  }
}

