<div class="p-404">
  <div class="p-404__inner l-inner">
    <h2 class="p-404__title">404 Not Found</h2>
    <p class="p-404__lead">
      お探しのページは<br class="u-mobile"/>見つかりませんでした。
    </p>
    <div class="p-404__button">
      <%- include('../component/_c-button',{backcolor:'black', text:'TOPへ', link:'index.html'}) %>
    </div>
  </div>
</div>