<div class="p-blog-detail">
  <div class="p-blog-detail__inner l-inner">
    <%- include('../project/_p-single-head',{title:'タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。', datetime:'2020/06/13',category:'カテゴリ１'}) %>
    <div class="p-blog-detail__body">
      <figure>
        <img src="./images/blog-detail/blog-detail_img1.jpg" alt="サムネイル画像">
      </figure>
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <h2>見出し2</h2>
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <h3>見出し3見出し3見出し3</h3>
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <figure>
        <img src="./images/blog-detail/blog-detail_img2.jpg" alt="ブログ記事画像">
      </figure>
      <ul>
        <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
      </ul>
      <ol>
        <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
      </ol>
    </div>
    <div class="p-blog-detail__pagination">
      <%- include('../project/_p-pagination-single') %>
    </div>
  </div>
</div>