<div class="p-blog">
  <div class="p-blog__inner l-inner">
    <div class="p-blog__tab">
      <%- include('../project/_p-tab') %>
    </div>
    <div class="p-blog__cards">
      <%- include('../project/_p-cards',{modifier:'p-cards--col3', max:9,path:'./images/blog/card__item-',alt:'ブログサムネイル'}) %>
    </div>
    <div class="p-blo__pagination">
      <%- include('../project/_p-pagination') %>
    </div>
  </div>
</div>