<a href="#" class="p-card">
  <% if( num == 0) { %>
  <div class="p-card__new-label">New</div>
  <% } %>
  <figure class="p-card__imgWrap">
    <img src="<%= path %><%= num + 1 %>@2x.png" alt="<%= alt %><%= num + 1 %>">
  </figure>
  <div class="p-card__body">
    <div class="p-card__titleWrap">
      <h3 class="p-card__title">タイトルが入ります。タイトルが入ります。</h3>
    </div>
    <div class="p-card__textWrap">
      <p class="p-card__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
    </div>
    <div class="p-card__info">
      <span class="p-card__category">カテゴリ</span>
      <time datetime="" class="p-card__date">2021.07.20</time>
    </div>
  </div>
</a>