<div class="p-pagination-single">
  <div class="p-pagination-single__items">
    <div class="p-pagination-single__item p-pagination-single__item--prev">
      <a href="#" class="p-pagination-single__link">PREV</a>
    </div>
    <div class="p-pagination-single__item">
      <a href="#" class="p-pagination-single__link">一覧</a>
    </div>
    <div class="p-pagination-single__item p-pagination-single__item--next">
      <a href="#" class="p-pagination-single__link">NEXT</a>
    </div>
  </div>
</div>