<div class="p-pagination">
  <a href="#" class="prev">prev</a>
  <a href="#" class="pager current">1</a>
  <a href="#" class="pager">2</a>
  <a href="#" class="pager">3</a>
  <a href="#" class="pager">4</a>
  <a href="#" class="next">next</a>
</div>