<div class="p-relation l-inner">
  <div class="p-relation__heading">
    <h3 class="p-relation__title">関連記事</h3>
  </div>
  <div class="p-relation__cards">
    <%- include('../project/_p-cards', {max:'4', path:path, alt:alt, modifier:'p-cards--relation'}) %> 
  </div>
</div>