<div class="p-single-head">
  <div class="p-single-head__heading">
    <h2 class="p-single-head__title"><%= title %></h2>
  </div>
  <div class="p-single-head__meta">
    <p class="p-single-head__date">
      <time datetime="2020-07-20"><%= datetime %></time>
    </p>
    <p class="p-single-head__category"><%= category %></p>
  </div>
</div>