<div class="p-thanks">
  <div class="p-thanks__inner l-inner">
    <h2 class="p-thanks__title">お問い合わせ完了</h2>
    <p class="p-thanks__lead">3営業日以内に<br class="u-mobile"/>返信させていただきます。</p>
    <div class="p-thanks__button">
      <%- include('../component/_c-button',{backcolor:'black', text:'TOPへ', link:'index.html'}) %>
    </div>
  </div>
</div>