<div class="p-top-blog">
  <div class="p-top-blog__inner l-inner">
    <div class="p-top-blog__heading">
      <%- include('../component/_c-section-title.ejs',{japaneseTitle:'ブログ', position:'right', englishTitle:'Blog'}) %>
    </div>
    <div class="p-top-blog__cards">
      <%- include('../project/_p-cards.ejs',{link:'blog-detail.html',max: '3', modifier:'p-cards--col3', path:'./images/blog/card__item-', alt:'ブログサムネイル画像'}) %>
    </div>
    <div class="p-top-blog__button">
      <%- include('../component/_c-button.ejs',{ backcolor:'black', link:'blog.html', text:'詳しく見る'}) %>
    </div>
  </div>
</div>