<div class="p-top-mv">
  <div class="swiper js-top-mv-slider">
    <div class="swiper-wrapper">
      <% for (let i = 1; i < 4; i++) { %>
      <div class="swiper-slide p-top-mv__slide-img">
        <img src="./images/top/top__mv-<%= i %>@2x.png" alt="メインビジュアル画像<%= i %>">
      </div>
      <% } %>
    </div>
  </div>
  <div class="p-top-mv__titleWrap">
    <h2 class="p-top-mv__mein-title">メインタイトルが入ります</h2>
    <p class="p-top-mv__sub-title">サブタイトルが入ります</p>
  </div>
</div>