<div class="p-top-overview">
  <div class="p-top-overview__inner">
    <div class="p-top-overview__heading">
      <%- include('../component/_c-section-title',{japaneseTitle:'企業概要', position:'left', englishTitle:'Overview'}) %>
    </div>
    <div class="p-top-overview__media">
      <div class="p-top-overview__img">
        <img src="../../images/top/top__overview@2x.png" alt="長い直線の廊下があるオフィス">
      </div>
      <div class="p-top-overview__contents">
        <h3 class="p-top-overview__title">メインタイトルが入ります</h3>
        <p class="p-top-overview__text"><%- include('../component/_c-text',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %> </p>
        <div class="p-top-overview__button">
          <%- include('../component/_c-button',{backcolor:'black', text:'詳しく見る', link:'overview.html'}) %>
        </div>
      </div>
    </div>
  </div>
</div>