<div class="p-top-works">
  <div class="p-top-works__inner">
    <div class="p-top-works__heading">
      <%- include('../component/_c-section-title',{japaneseTitle:'制作実績', position:'right', englishTitle:'Works'}) %>
    </div>
    <div class="p-top-works__mediaWrap">
      <div class="p-top-works__media">
        <div class="p-top-works__img swiper js-topWorks-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="./images/works/works__item-1@2x.png" alt="机の上にあるアップル製のデスクトップ型PC"></div>
            <div class="swiper-slide"><img src="./images/works/works__item-2@2x.png" alt="観葉植物とPC"></div>
            <div class="swiper-slide"><img src="./images/works/works__item-3@2x.png" alt="机の上にあるノート型PC"></div>
          </div>
          <div class="p-top-works__pagination swiper-pagination"></div>
        </div>
        <div class="p-top-works__contents">
          <h3 class="p-top-works__title">メインタイトルが入ります</h3>
          <div class="p-top-works__text"><%- include('../component/_c-text',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %> </div>
          <div class="p-top-works__button">
            <%- include('../component/_c-button',{backcolor:'black', text:'詳しく見る', link:'works.html'}) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>