<div class="p-tab">
  <ul class="p-tab__items">
    <li class="p-tab__item p-tab__item--current"><a href="">all</a></li>
    <li class="p-tab__item"><a href="">カテゴリ１</a></li>
    <li class="p-tab__item"><a href="">カテゴリカテゴリ</a></li>
    <li class="p-tab__item"><a href="">カテ</a></li>
  </ul>
</div>