<div class="p-top-news">
  <div class="p-top-news__inner l-inner">
    <div class="p-top-news__contents">
      <div class="p-top-news__list">
        <%- include('./_p-news-list',{category:'お知らせ',hover:'underline',link:'#',text:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
      </div>
      <div class="p-top-news__button">
        <%- include('../component/_c-button',{backcolor:'white',link:'news.html',text:'すべて見る'}) %>
      </div>
    </div>
  </div>
</div>