<div class="p-top-contact">
  <div class="p-top-contact__inner l-inner">
    <%# 下層ページでCSSが異なりましたので、modifierを設定しております%>
    <div class="p-top-contact__header <%= modifier %>">
      <%- include('../component/_c-section-title',{japaneseTitle:'お問い合わせ',englishTitle:'Contact',position:'left'}) %>
    </div>
    <div class="p-top-contact__textWrap">
      <%- include('../component/_c-text',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
    </div>
    <div class="p-top-contact__button">
      <%- include('../component/_c-button',{backcolor:'black',link:'contact.html',text:'お問い合わせへ'}) %>
    </div>
  </div>
</div>