<a href="works-detail.html" class="p-works-card">
  <figure class="p-works-card__img">
    <img src="../../images/works/works__item-<%= i %>@2x.png" alt="works画像<%= i %>">
  </figure>
  <p class="p-works-card__figcaption"><%= figcaption %></p>
  <div class="p-works-card__category"><%= category %></div>
</a>