<div class="p-works-comment">
  <div class="p-works-comment__head">
    <h2 class="p-works-comment__title"><%= title %></h2>
  </div>
  <div class="p-works-comment__body">
    <p class="p-works-comment__text"><%= text %></p>
  </div>
</div>