<div class="p-works">
  <div class="p-works__inner">
    <div class="p-works__tab">
      <%- include('../project/_p-tab') %>
    </div>
    <div class="p-works__cards">
      <%- include('../project/_p-works-cards') %>
    </div>
    <div class="p-works__pagination">
      <%- include('../project/_p-pagination') %>
    </div>
  </div>
</div>