<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
<body>

  <!-- コンポーネント確認 -->
  <div class="wrapper">
    <%- include('./component/_c-logo') %> 
  </div>
  <%- include('./component/_c-section-title',{japaneseTitle:'事業内容', position:'left', englishTitle:'Content'}) %>
  <!-- コンポーネント確認_end --> 
</body>
</html>
