<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
<body>

  <!-- コンポーネント確認 -->
  <div class="wrapper">
    <%- include('./component/_c-logo') %> 
    <%- include('./component/_c-text',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %> 
    <%- include('./component/_c-section-title',{japaneseTitle:'事業内容', position:'left', englishTitle:'Content'}) %>
  </div>
  <!-- コンポーネント確認_end --> 
</body>
</html>
