<label class="c-contact-text">
  <div class="c-contact-text__head">
    <div class="c-contact-text__headeing"><%= value.label %></div>
  </div>
  <span class="c-contact-text__text">
    <input type="<%= value.type %>" name="<%= value.id %>" placeholder="<%= placeholder %>">
  </span>
</label>