<label class="c-contact-textarea">
  <div class="c-contact-textarea__head">
    <div class="c-contact-textarea__heading"><%= label %></div>
  </div>
  <span class="c-contact-textarea__text">
    <textarea type="textarea" name="textarea" placeholder="<%= placeholder %>"></textarea>
  </span>
</label>